@font-face {
  font-family: "iconfont2"; /* Project id 4783281 */
  src: url('iconfont.woff2?t=1741931294443') format('woff2'),
       url('iconfont.woff?t=1741931294443') format('woff'),
       url('iconfont.ttf?t=1741931294443') format('truetype');
}

.iconfont2 {
  font-family: "iconfont2" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon2-lianjiexian:before {
  content: "\e602";
}

.icon2-lianjiexian1:before {
  content: "\e603";
}

.icon2-lianjiexian2:before {
  content: "\e604";
}

.icon2-lianjiexian3:before {
  content: "\e64a";
}

.icon2-lianjiexian4:before {
  content: "\e815";
}

.icon2-fengexian:before {
  content: "\e644";
}

.icon2-fengexian1:before {
  content: "\e605";
}

.icon2-terminal:before {
  content: "\e82f";
}

.icon2-split-horizontal:before {
  content: "\e849";
}

.icon2-delete:before {
  content: "\e621";
}

.icon2-plus:before {
  content: "\e8fe";
}

.icon2-square_split_x:before {
  content: "\e8bf";
}

.icon2-a-bianzu232:before {
  content: "\e60f";
}

.icon2-ego-close:before {
  content: "\e606";
}

.icon2-guanbi1:before {
  content: "\e611";
}

.icon2-guanbi:before {
  content: "\e620";
}

.icon2-zoomin:before {
  content: "\e898";
}

.icon2-zoom-in:before {
  content: "\e683";
}

.icon2-zoomout:before {
  content: "\e6e1";
}

.icon2-zoom:before {
  content: "\e6e3";
}

.icon2-xiazai:before {
  content: "\e63e";
}

.icon2-upload_folder1:before {
  content: "\e6e2";
}

.icon2-upload-folder:before {
  content: "\e941";
}

.icon2-a-uploadfolder:before {
  content: "\e709";
}

.icon2-upload-file:before {
  content: "\e753";
}

.icon2-upload_folder:before {
  content: "\e69e";
}

.icon2-upload_file:before {
  content: "\e8f5";
}

.icon2-upload:before {
  content: "\e682";
}

.icon2-side-bar-fill:before {
  content: "\e71a";
}

.icon2-side-bar-line:before {
  content: "\e71b";
}

.icon2-bottom_panel_open:before {
  content: "\e600";
}

.icon2-bottom_panel_close:before {
  content: "\e601";
}

.icon2-ic_toggle-sidebar:before {
  content: "\e64d";
}

.icon2-left_panel_open:before {
  content: "\e61e";
}

.icon2-left_panel_close:before {
  content: "\e61f";
}

.icon2-shangxiazuoyouTriangle11:before {
  content: "\e690";
}

.icon2-shangxiazuoyouTriangle13:before {
  content: "\e691";
}

.icon2-shangxiazuoyouTriangle12:before {
  content: "\e692";
}

.icon2-shangxiazuoyouTriangle14:before {
  content: "\e693";
}

.icon2-jiaobenshezhi:before {
  content: "\e63f";
}

.icon2-baocun:before {
  content: "\e63b";
}

.icon2-baocun1:before {
  content: "\e936";
}

.icon2-tingzhi:before {
  content: "\e686";
}

.icon2-yunhang:before {
  content: "\e6c1";
}

.icon2-a-Openfolder:before {
  content: "\e658";
}

