.debug-control-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 0%;
    gap: 1%;
    box-sizing: border-box;

}


.border{
    border: 1px solid #6c757d;
    border-radius: 4px;
    background-color: rgb(247, 247, 247);
    padding: 1%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);/* 增加一点阴影提升质感 */
  font-family: 'Segoe UI', sans-serif; /* 使用更现代、常见的工业字体 */
  color: #343a40;                       /* 字体颜色更稳重，偏深灰 */
  box-sizing: border-box;
}

.title{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.first-row{
    width: 100%;
    height: 16vh;
    display: flex;
    flex-direction: row;
    gap: 1%;
    margin-bottom: 0.3%;
}

.debug-control-output{
    height: 100%;
    width: 82.2%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.debug-control-material{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.debug-control-mass{
    height: 100%;
    width: 17%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.debug-control-mode{
    height: 100%;
    width: 16.8%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.debug-control-state{
    height: 100%;
    width: 32%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.debug-status-switch {
    display: flex;
    align-items: center; /* 垂直居中 */
    justify-content: center; /* 横向居中 */
    gap: 10px; /* 控制文字与开关之间的间距 */
    padding: 4px 8px; /* 可选的垂直内边距 */
    flex-wrap: wrap;
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    /*margin-top: 20px;*/
    transform: translateY(14px); /* 往下移动 */
}

.debug-status-container {
    display: flex;
    align-items: center; /* 垂直居中 */
    /*justify-content: center; !* 横向居中 *!*/
    flex-wrap: wrap;
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    transform: translateY(8px); /* 往下移动 */
}

.button-wrapper {
    display: flex;
    align-items: center; /* 垂直居中 */
    /*flex-wrap: wrap;*/
    justify-content: space-between;
    gap: 12px;
    width: 100%;
}
.robots-button {
    flex: 0 1 270px; /* 固定每个按钮宽度为 100px */
    min-width: 200px;      /* 限制最小宽度，防止过窄 */
    padding: 8px 10px;    /* 控制按钮内部文字与边缘的间距 */
    height: 55px;
    border-radius: 15px;
    font-size: 16px; /* 调整字体大小 */
    background: rgba(0, 176, 240, 0.9); /* 背景 */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); /* 阴影 */
}

.label-name {
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px; /* 调整字体大小 */
    font-weight: 580;
}

.switch-row {
    display: flex;
    align-items: center;
    gap: 16px; /* 控制间距 */
    transform: scale(1.1); /* 整体放大 */
}

/* 按钮 hover 效果 */
.el-button:hover {
    filter: brightness(1.1); /* 亮一点 */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* el-switch hover 效果 */
.el-switch:hover {
    transform: scale(1.1); /* 微微放大 */
    transition: transform 0.15s ease;
}

.di-circle {
  width:1em;
  height: 1em;
  border-radius: 50%;
 margin-right: 4px;
  background-color: gray;
  flex-shrink: 0;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  
}

.di-circle.online {
  background-color: green;
}

.di-circle.offline {
  background-color: red;
}

.debug-input-item {
  width: 15%; /* 100% / 8 = 12.5% */
  display: flex;
  flex-direction: row;
  align-items: center ;
  justify-content:flex-start;
  padding:1px;
  box-sizing: border-box;
 height: 25%;
  font-size: clamp(10px, 1.5vw, 18px); /* 自动根据宽度适应 */
  
}

.hidden{
    display: none;
}