.plc-control-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 0%;
    gap: 1%;
    box-sizing: border-box;

}


.border{
    border: 1px solid #6c757d;          
    border-radius: 4px;
    background-color: #f8f9fa;    
    padding: 1%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);/* 增加一点阴影提升质感 */
  font-family: 'Segoe UI', sans-serif; /* 使用更现代、常见的工业字体 */
  color: #343a40;                       /* 字体颜色更稳重，偏深灰 */
  box-sizing: border-box;
}

.title{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}
.plc-control-output{
    height: 40%;
    width: 100%;
    box-sizing: border-box;
}
.plc-control-intput{
    height: 40%;
    width: 100%;
    box-sizing: border-box;
}
.plc-status-container {
  display: flex;
 
  flex-wrap: wrap;
  width: 100%;
  height: 80%;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

.plc-item {
  width: 20%; /* 100% / 8 = 12.5% */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:flex-end;
  padding:1px;
  height: 25%;
  box-sizing: border-box;
  font-size: clamp(12px, 1.5vw, 18px); /* 自动根据宽度适应 */
}

.di-circle {
  width:1em;
  height: 1em;
  border-radius: 50%;
 margin-right: 4px;
  background-color: gray;
  flex-shrink: 0;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  
}

.di-circle.online {
  background-color: green;
}

.di-circle.offline {
  background-color: red;
}

.plc-input-item {
  width: 15%; /* 100% / 8 = 12.5% */
  display: flex;
  flex-direction: row;
  align-items: center ;
  justify-content:flex-start;
  padding:1px;
  box-sizing: border-box;
 height: 25%;
  font-size: clamp(10px, 1.5vw, 18px); /* 自动根据宽度适应 */
  
}

.hidden{
    display: none;
}