.splitpanes {
    background-color: #222222;
}

.splitpanes__splitter {
    background-color: #575757;
    position: relative;
}

.splitpanes__splitter:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 0.4s;
    background-color: #626060;
    opacity: 0;
    z-index: 1;
}

.splitpanes__splitter:hover:before {
    opacity: 1;
    
}

.splitpanes--vertical>.splitpanes__splitter:before {
    left: -1.5px;
    right: -1.5px;
    height: 100%;
    cursor: w-resize;
}

.splitpanes--horizontal>.splitpanes__splitter:before {
    top: -1.5px;
    bottom: -1.5px;
    width: 100%;
    cursor: s-resize;
}